@import '../../style/index.css';
.sun-button {
  @mixin inset-button;
  padding: 10px 20px;
  color: #fff;
  border-radius: 3px;
  &.primary {
    border: 1px solid #1989fa;
    background-color: #1989fa;
  }
  //plain
  &.primary.plain {
    background-color: #fff;
    color: #1989fa;
  }
  //disabled
  

  &.success {
    border: 1px solid #07c160;
    background-color: #07c160;
  }
  &.success.plain {
    background-color: #fff;
    color: #07c160;
  }
  &.default {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ebedf0;
  }
  &.warning {
    border: 1px solid #ff976a;
    background-color: #ff976a;
  }
  &.warning.plain {
    background-color: #fff;
    color: #ff976a;
  }
  &.danger {
    border: 1px solid #ee0a24;
    background-color: #ee0a24;
    
  }
  &.danger.plain {
    background-color: #fff;
    color: #ee0a24;
  }
  &:hover {
    cursor: pointer;
  }
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &.square {
    border-radius: 0;
  }
  &.round {
    border-radius: 20px;
  }
  &.small {
    padding: 6px 12px;
  }
  &.mini {
    padding: 4px 8px;
  }
  &.large {
    padding: 15px 100px;
    font-size: 24px;
  }
}